application-dev.yml
application.pid
.DS_Store
.gradle
**/.DS_Store
**/*.log
**/.idea
**/*.ipr
**/*.iws
**/*.iml
**/projectFilesBackup

**/.classpath
**/.project
**/.settings/
**/target/
**/build/
**/buildPlugins/
**/logs/
**/out/
**/.slcache/

**/*.class
**/deploy/
**/rebel.xml
